/*----------------Homepage Styles ---------------------*

/*----------------Base Styles ---------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;

}

@media screen and (max-width: 375px) {
    .input-wrapper {
        font-size: 1px;
    }
}

@media screen and (max-width: 550px) {
    .hero-wrapper main {
        margin-bottom: 15px;
    }

    .image-wrapper img {
        margin-top: 200px;
    }
}

/*----------------Nav Bar Styles ---------------------*/

.navbar {
    background-color: #E4EDF2;
    margin: auto;

}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}

.top-head {
    background-color: #E4EDF2;
}

/*----------------Footer Styles ---------------------*/
#footer {
    background-color: #24116A;
    height: -100vh;
}

#footer h4 {
    font-size: 20px;
}

#footer address,
#footer p {
    font-size: 16px;
}

#footer i {
    font-size: 1.625em;
}

/*----------------About Page ---------------------*/
p {
    font-family: 'Open Sans', sans-serif;
}

/*----------------Hero styles ---------------------*/
.blue-box {
    background-color: #E4E4F2;
    border-radius: 10px;
}

#aboutHero h1 {
    color: #24116A;
    font-size: 3em;
}

/*----------------Talent Styles ---------------------*/
#talents img {
    width: 61px;
    height: 61px;
}

#talents h1 {
    width: 35%;
}

#talents p {
    font-family: 'Open Sans', sans-serif;
}

/*----------------Intern Works Styles ---------------------*/
.background-box {
    background-color: #F1F7FB;
}

#interns p {
    font-family: 'Open Sans', sans-serif;
}

#interns span {
    background-color: #fff;
    width: 81px;
    height: 86px;
    border-radius: 3px;
}
